/* src/components/AboutPage.css */

/* about.css */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.about-content {
  text-align: center;
}

h1 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.copyright {
  font-size: 12px;
  margin-top: 5px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.2);
}
