@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.register-box {
  background: transparent;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 90px 1fr;
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 50vh; */
 
}

.register-form {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 100px #00000057, -2px -2px 100px #0a022288;
  backdrop-filter: blur(3px);
  border: 2px solid rgb(50, 192, 192);
  -webkit-box-shadow:0px 0px 113px 12px rgba(81,255,46,0.47);
-moz-box-shadow: 0px 0px 113px 12px rgba(81,255,46,0.47);
box-shadow: 0px 0px 113px 12px rgba(81,255,46,0.47);
}

body.light-mode .register-heading {
  text-align: center;
  padding: 1rem 1rem;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 30px;
  font-style: bold;
}

body.dark-mode .register-heading {
  text-align: center;
  padding: 1rem 1rem;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 30px;
  font-style: bold;
}

.register-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem 2rem 2rem;
  outline: none;
  border-style: none;
  font-weight: bold;
}

.register-input-box input {
  margin-top: 0.5rem;
  padding: 12px;
  outline: none;
  border: 2px solid #07d888;
  border-radius: 8px; /* Adjusted border-radius */
  background-color: #fff; /* Initial white background color */
  color: #13b990;
  font-weight: bold;
  width: 100%;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.register-input-box input::placeholder {
  color: #0fc295;
}

.register-input-box input:focus {
  outline: none;
  box-shadow: 0 0 12px rgba(52, 152, 219, 0.4);
  background-color: #3498db; /* Blue background color on focus */
  color: #ffffff; /* White text color on focus */
}

.register-input-box input:focus::placeholder {
  color: #ffffffb0; /* Slightly transparent white placeholder color on focus */
}

.register-icon {
  padding-right: 0.5rem;
  color: #ddd;
}

.register-btn-box a {
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  outline: none;
  border-style: none;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #fff;
  text-align: center;
  color: #22d4bc;
  font-weight: bold;
}

.register-btn-box a:hover {
  opacity: 0.8;
}

.register-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0 8.5rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.register-register-container {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  margin-bottom: 15rem;
  /* font-weight: bold; */
  color: #fff;
}
